* {
    padding: 0;
    margin: 0;


}

body {
    padding: 1%;
    margin: 5%;
    
}

.container {
    padding: 0.5%;
    margin: 0.5%;
    width: auto;
    justify-content: center;
    align-items: center;



}